.default {
    font-size: 18px;
    color:black;
}

header p {
    font-size: 25px;
    font-family: 'Nova Square', cursive;
    text-align: center;
}

#canvas {
    /* use in in code */
    /*width: 800px;*/
    /*height: 600px;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}
